@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-color: #f4f4f4;
    --card-background: #fff;
    --text-color: #333;
    --primary-color: #FF9C44;
    --secondary-color: #679EAA;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode {
    --background-color: #121212;
    --card-background: #1e1e1e;
    --text-color: #f4f4f4;
    --secondary-text-color: #b0b0b0;
    --primary-color: #FF9C44;
    --secondary-color: #679EAA;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--card-background);
    color: var(--text-color);
    color: var(--text-color);
    transition: background-color 0.5s ease;
}



/* THEME TOGGLE BUTTON */

.theme-toggle-btn {
    background: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle-btn:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #000;
}


/* ESTILOS DA SECTION HEADER */

.header {
    background-color: var(--card-background);
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem;
}

@media (max-width: 767px) {
    .header {
        display: none;
    }
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    animation: fadeIn 1s ease-out forwards;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    animation: fadeIn 1s ease-out forwards;
}

.profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primary-color);
}

.name {
    font-size: 2rem;
    margin: 0;
}

.title {
    font-size: 1rem;
    margin: 0;
    color: #555;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    animation: fadeIn 1s ease-out forwards;
}

.social-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.social-links a:hover {
    color: var(--secondary-color);
}

/* Animação para surgimento dos elementos */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ESTILOS DA SECTION STICKY HEADER */

.sticky-header {
    background-color: var(--card-background);
    box-shadow: var(--box-shadow);
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.sticky-header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky-name {
    font-size: 1.5rem;
    margin: 0;
}

.sticky-social-links {
    display: none;
}

.sticky-social-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 768px) {

    .sticky-header {
        transform: translateY(-100%);
    }

    .sticky-header.show {
        transform: translateY(0);
    }

    .sticky-social-links {
        display: flex;
    }
}

.hamburger-menu {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color)
}

@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}

.mobile-menu {
    background-color: var(--card-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 999;
    /* transition from left to right */
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.mobile-menu.open {
    transform: translateX(0);
}

.mobile-social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.mobile-social-links a {
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.mobile-menu .theme-toggle-btn {
    position: absolute;
    bottom: 3rem;
}


/* ESTILOS DA SECTION ABOUT */

.about-me {
    padding: 4rem 1rem;
    background-color: var(--card-background);
}

.about-me-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}

.section-title::after {
    content: '';
    display: block;
    width: 60%;
    height: 4px;
    background-color: var(--primary-color);
    margin: 0.5rem auto 0;
    border-radius: 2px;
}

.about-me-content {
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: left;
}

.about-me-content p {
    margin-bottom: 1.5rem;
}

/* Animação para surgimento dos elementos */

.about-me.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}

.about-me.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


/* ESTILOS DA SECTION SKILLS */

.skills {
    padding: 4rem 1rem;
    background-color: #f9f9f9;
}

.skills-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.skills-content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.skills-category {
    background-color: var(--card-background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    flex-basis: 300px;
    flex-grow: 1;
    text-align: left;
}

.skills-category h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills-list li {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.skills-list li:last-child {
    border-bottom: none;
}

/* Animação para surgimento dos elementos */
.skills.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}

.skills.visible {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


/* ESTILOS DA SECTION PROJECTS */

.projects {
    padding: 4rem 1rem;
    background-color: var(--card-background);
}

.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: translatey(-5px);
    box-shadow: var(--box-shadow);
}

.project-card h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.project-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.project-tech {
    font-size: 0.9rem;
    color: #888;
    margin-top: 1rem;
}

.project-links {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: #000;
    text-decoration: none;
    border: solid 1px var(--secondary-color);
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: #000;
}

.btn.disable {
    background-color: #ccc;
    color: #999;
    border: none;
    cursor: not-allowed;
}

/* Animação para surgimento dos elementos */
.projects.hidden {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}

.projects.visible {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


/* ESTILOS DA SECTION CONTACT */

.contact {
    padding: 4rem 1rem;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contact-links .btn {
    font-size: 1rem;
    padding: 1rem 2rem;
}

/* animação para surgimento dos elementos */
.contact.hidden{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

.contact.visible {
    opacity: 1;
    transition: opacity 0.8s ease-out;
}